.mud-markdown-body {
    width: 100%;
}

.x-login-form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.x-client-qr-code {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.x-client-qr-code canvas {
    height: 100%;
}